html5lib==0.99999999
jsonpatch==1.3
jsonpointer==1.0
oauth==1.0.1
pbr==1.10.0
prettytable==0.7.2
pycrypto==2.6.1
pyodbc==3.0.10
PyYAML==3.10
requests==2.2.1
six==1.10.0
SQLAlchemy==1.0.8
ssh-import-id==3.21
stevedore==1.15.0
urllib3==1.24.2
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
zope.interface==4.0.5
boto3==1.3.1
botocore==1.4.34
docutils==0.12
futures==3.0.5
jmespath==0.9.0
psutil==5.4.0
pyodbc==3.0.10
python-dateutil==2.5.3
six==1.10.0
